<!DOCTYPE html>
<html>
  <% include ./partials/head %>
  <body>
    <% include ./partials/header %>
    <div class="page-box container d-flex flex-column">
        <div>
          <div class="d-flex align-self-center align-items-center p-2">
            <i class="title-icon fas fa-eye"></i>
            <h4 class="m-0">Palpites<small class="text-muted pl-3">Prox. 24h</small> </h4>
          </div>
        </div>
          
      <div id="accordion">
        
        <% matches.forEach(function(match, index) { %>

        <div class="card mb-1">

          <div class="card-header p-0" id="heading-match-<%= match.id %>">
              <button class="btn btn-block" data-toggle="collapse" data-target="#collapse-match-<%= match.id %>" aria-expanded="true" aria-controls="collapse-match-<%= match.id %>">
                  <% include ./subviews/match-header-no-score %>
              </button>
          </div>

          <div id="collapse-match-<%= match.id %>" class="collapse" aria-labelledby="heading-match-<%= match.id %>" data-parent="#accordion">
            <div class="card-body p-0">
              <% if (match.guesses.length > 0) { %>

                <% match.guesses.forEach(function(user, index) { %>
                  <% include ./subviews/user-guess %>
                <%  }); // match.guesses.forEach%>
                
              <% } else { %>
                Nenhum palpite.
              <% } %>
            </div>
          </div>
        </div>

        <% }); // matches.forEach %>

      </div>
    </div>
    <% include ./partials/scripts %>
  </body>
</html>