<!DOCTYPE html>
<html>
  <% include ./partials/head %>
  <body>
    <% include ./partials/header %>
    <div class="container">
        <div class="row">
          <h4 class="d-flex align-items-center">
            <i class="title-icon fas fa-user"></i>
            <strong>Pontuações</strong>
          </h4>
        </div>
          
        <div class="row">
          <div class="container">
            <div class="list-group">
              <% points.forEach(function(matchEntry, index) { %>
              <div class="list-group-item">
                <div class="row">
                  <div class="col-2 float-left">
                      <img src="<%= matchEntry.team1.flag %>" class="img-fluid rounded float-left">
                  </div>
                  <div class="col-8">
                    <div class="row mb-2">
                        <div class="col-5 text-truncate text-center">
                            <span><%= matchEntry.team1.name %></span>
                        </div>
                        <div class="col-2 text-nowrap">
                            <div><%= matchEntry.score1 %> x <%= matchEntry.score2 %></div>
                        </div>
                        <div class="col-5 text-truncate text-center">
                            <span><%= matchEntry.team2.name %></span>
                        </div>
                    </div>
                    <% if (matchEntry.points.length > 0) { %>
                    <% matchEntry.points.forEach(function(guessEntry, index) { %>
                    <div class="row">
                        <div class="mb-1 p-0 col-2 float-left">
                            <img src="<%= guessEntry.photo %>" class="img-fluid rounded">
                        </div>
                        <div class="col-7 text-truncate text-center">
                            <span class="guess-name"><%= guessEntry.name %></span>
                        </div>
                        <div class="col-3 text-nowrap float-left">
                            <span class="guess-score"><% if(guessEntry.points > 0) { %>+<% } %><%= guessEntry.points %></span>
                            <span>(<%= guessEntry.guess.score1 %> x <%= guessEntry.guess.score2 %>)</span>
                        </div>
                    </div>
                    <% }); %>
                    <% } else { %>
                        <span>Nenhuma pontuação.</span>
                    <% } %>
                  </div>
                  <div class="col-2 float-left">
                      <img src="<%= matchEntry.team2.flag %>" class="img-fluid rounded float-left">
                  </div>
                </div>
              </div>
              <% }); %>
            </div>
          </div>
        </div>
      </div>
    <% include ./partials/scripts %>
  </body>
</html>