<!DOCTYPE html>
<html>
  <% include ./partials/head %>
  <body>
    <% include ./partials/header %>

    <div class="page-box container d-flex flex-column">
        <div>
          <div class="d-flex align-self-center align-items-center p-2">
            <i class="title-icon fas fa-chart-bar"></i>
            <h4 class="m-0">Pontuações</h4>
          </div>
        </div>
          
      <div id="accordion">
        
        <% points.forEach(function(match, index) { %>

        <div class="card mb-1">

          <div class="card-header p-0" id="heading-match-<%= match.id %>">
              <button class="btn btn-block" data-toggle="collapse" data-target="#collapse-match-<%= match.id %>" aria-expanded="true" aria-controls="collapse-match-<%= match.id %>">
                  <% include ./subviews/match-header-with-score %>
              </button>
          </div>

          <div id="collapse-match-<%= match.id %>" class="collapse" aria-labelledby="heading-match-<%= match.id %>" data-parent="#accordion">
            <div class="card-body p-0">
              <% if (match.points.length > 0) { %>

                <% match.points.forEach(function(user, index) { %>
                  <% include ./subviews/user-guess-points %>
                <%  }); // match.points.forEach%>
                
              <% } else { %>
                Nenhuma pontuação.
              <% } %>
            </div>
          </div>
        </div>

        <% }); // points.forEach %>

      </div>
    </div>

    <% include ./partials/scripts %>
  </body>
</html>