<!DOCTYPE html>
<html>
  <% include ./partials/head %>
  <body>
    <body>
      <% include ./partials/header %>
  
      <div class="container">
          <div class="row">
            <h4 class="d-flex align-items-center">
              <i class="title-icon fas fa-user"></i>
              <strong>Resultados</strong>
            </h4>
          </div>
            
          <div class="row">
            <div class="container">
              <% if (matches.length > 0) { %>
              <div class="list-group">
                <% matches.forEach(function(match, index) { %>
                <div class="list-group-item">
                  <div class="row">
                    <div class="col-2 float-left">
                        <img src="<%= match.team1.flag %>" class="img-fluid rounded float-left">
                    </div>
                    <div class="col-8">
                      <div class="row">
                          <div class="col-5 text-right text-truncate">
                              <span><%= match.team1.name %></span>
                          </div>
                          <div class="col-2 text-nowrap">
                              <div class="mx-auto"><%= match.score1 %> x <%= match.score2 %></div>
                          </div>
                          <div class="col-5 text-left text-truncate">
                              <span><%= match.team2.name %></span>
                          </div>
                      </div>
                    </div>
                    <div class="col-2 float-right">
                        <img src="<%= match.team2.flag %>" class="img-fluid rounded float-right">
                    </div>
                  </div>
                </div>
                <% });  %>
              </div>
              <% } else { %>
                <div class="row">Nenhum resultado.</div>
              <% } %>
            </div>
          </div>
        </div>
      <% include ./partials/scripts %>
    </body>
 </html>