<div class="user-guess-box container-fluid d-flex justify-content-between align-items-center align-self-center border-bottom p-1">
    <div>
      <img src="<%= user.photo %>" class="img-fluid rounded user-photo-thumbnail">
    </div>
    <div><%= user.name %></div>
    <div><% if(user.points > 0) { %>+<% } %><%= user.points %> <small class="text-muted">(<%= user.guess.score1 %> x <%= user.guess.score2 %>)</small></div>
</div>